---
// components import
import SecondaryLayout from '../../layouts/SecondaryLayout.astro';
import { Image } from 'astro:assets';

// utility import
import { getCollection } from 'astro:content';

// assets import
import pageMotif from '../../../public/logos/motif-dark.svg';

// styles import
import '../../styles/secondary-page.css';

export async function getStaticPaths() {
	const blogEntries = await getCollection('blog');

	return blogEntries.map((entry) => ({
		params: { author: entry.data.author },
		props: { author: entry.data.author, blogEntries },
	}));
}

const { author, blogEntries } = Astro.props;

const filteredPosts = blogEntries.filter(
	(entry) => entry.data.author === author
);
---

<SecondaryLayout title=`Entradas de ${author}`>
	<div class="secondary-page-content">
		<main>
			<h1>Entradas de {author}</h1>

			<ul>
				{
					filteredPosts.map((post) => (
						<li class="container">
							<h2 class="blog-title">
								<a href={`/blog/${post.slug}`}>{post.data.title}</a>
							</h2>

							<p>
								{new Date(post.data.publishedDate).toLocaleDateString('es-ES', {
									year: 'numeric',
									month: 'long',
									day: 'numeric',
								})}
							</p>

							<p class="blog-excerpt">{post.body.split('##')[0]}</p>

							<ul class="categories margin-extra">
								{post.data.categories.map((category) => (
									<li>
										<a href={`/blog/${category}`} class="category">
											{category}
										</a>
									</li>
								))}
							</ul>

							<a class="btn btn-secondary" href={`/blog/${post.slug}`}>
								Saber más
							</a>

							<Image src={pageMotif} alt="" width="24" height="24" />
						</li>
					))
				}
			</ul>
		</main>
	</div>
</SecondaryLayout>
