---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import { Image } from 'astro:assets';
import pageMotif from '../../../public/logos/motif-dark.svg';
import '../../styles/secondary-page.css';

export async function getStaticPaths() {
	const blogEntries = await getCollection('blog');

	return blogEntries.flatMap((entry) =>
		entry.data.categories.map((category) => ({
			params: { category },
			props: { category, blogEntries },
		}))
	);
}

const { category, blogEntries } = Astro.props;

const filteredPosts = blogEntries.filter((entry) =>
	entry.data.categories.includes(category)
);
---

<Layout
	title=`Entradas en ${category}`
	headline=`Entradas de ${category}`
	showHero={false}
	heroShrunk={true}
	isSecondaryPage={true}>
	<main class="secondary-page-content">
		<section>
			<ul>
				{
					filteredPosts.map((post) => (
						<li>
							<article class="container">
								<h2 class="blog-title">
									<a href={`/blog/${post.slug}`}>{post.data.title}</a>
									<br />
									<small>
										de
										<a class="author" href={`/blog/${post.data.author}`}>
											{post.data.author}
										</a>
									</small>
								</h2>

								<p class="blog-excerpt">{post.body.slice(0, 250)} ...</p>

								<p>
									{new Date(post.data.publishedDate).toLocaleDateString(
										'es-ES',
										{
											year: 'numeric',
											month: 'long',
											day: 'numeric',
										}
									)}
								</p>

								<ul class="categories">
									{post.data.categories.map((category) => (
										<li>
											<a href={`/blog/${category}`} class="category">
												{category}
											</a>
										</li>
									))}
								</ul>
								<Image src={pageMotif} alt="" width="24" height="24" />
							</article>
						</li>
					))
				}
			</ul>
		</section>
	</main>
</Layout>
