---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import { Image } from 'astro:assets';
import pageMotif from '../../../public/logos/motif-dark.svg';
import '../../styles/secondary-page.css';

export async function getStaticPaths() {
	const blogEntries = await getCollection('blog');

	return blogEntries.flatMap((entry) =>
		entry.data.categories.map((category) => ({
			params: { category },
			props: { category, blogEntries },
		}))
	);
}

const { category, blogEntries } = Astro.props;

const filteredPosts = blogEntries.filter((entry) =>
	entry.data.categories.includes(category)
);
---

<Layout
	title=`Entradas en ${category}`
	headline=`Entradas de ${category}`
	showHero={false}
	heroShrunk={true}
	isSecondaryPage={true}>
	<main class="secondary-page-content">
		<section>
			<ul>
				{
					filteredPosts.map((post) => (
						<li class="container">
							<h2 class="blog-title">
								<a href={`/blog/${post.slug}`}>{post.data.title}</a>
								<br />
							</h2>

							<p>
								<small>
									de
									<a class="author" href={`/blog/${post.data.author}`}>
										{post.data.author}
									</a>
									&middot;
								</small>

								<span>
									{new Date(post.data.publishedDate).toLocaleDateString(
										'es-ES',
										{
											year: 'numeric',
											month: 'long',
											day: 'numeric',
										}
									)}
								</span>
							</p>

							<p class="blog-excerpt">{post.body.split('##')[0]}</p>

							<ul class="categories margin-extra">
								{post.data.categories.map((category) => (
									<li>
										<a href={`/blog/${category}`} class="category">
											{category}
										</a>
									</li>
								))}
							</ul>

							<a class="btn btn-secondary" href={`/blog/${post.slug}`}>
								Saber más
							</a>

							<Image src={pageMotif} alt="" width="24" height="24" />
						</li>
					))
				}
			</ul>
		</section>
	</main>
</Layout>
