---
// components import
import SecondaryLayout from '../../layouts/SecondaryLayout.astro';
import BreadcrumbNavigation from '../../components/BreadcrumbNavigation.astro';
import { BreadcrumbsItem } from 'accessible-astro-components';
import { Image } from 'astro:assets';

// utility import
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
	const blogEntries = await getCollection('blog');
	return blogEntries.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<SecondaryLayout title={entry.data.title}>
	<div class="secondary-page-content">
		<BreadcrumbNavigation>
			<BreadcrumbsItem href="/" label="Inicio" />
			<BreadcrumbsItem href="/blog" label="Blog" />
			<BreadcrumbsItem
				href="/blog"
				label=`${entry.data.title}`
				currentPage={true}
			/>
		</BreadcrumbNavigation>

		<main>
			<article class="container">
				<h1 class="blog-title">{entry.data.title} - {entry.data.subtitle}</h1>
				<small>
					<p>
						<a href={`../blog/${entry.data.author}`} class="author"
							>{entry.data.author}</a
						> &middot; {
							new Date(entry.data.publishedDate).toLocaleDateString('es-ES', {
								year: 'numeric',
								month: 'long',
								day: 'numeric',
							})
						}

						<ul class="categories">
							{
								entry.data.categories.map((category) => (
									<li>
										<a href={`/blog/${category}`} class="category">
											{category}
										</a>
									</li>
								))
							}
						</ul>
					</p>
				</small>

				<Image
					src={entry.data.image.src}
					alt={entry.data.image.alt}
					aria-hidden="true"
					width="500"
					height="300"
					decoding="async"
					loading="eager"
					class="blog-image"
				/>

				<Content />
			</article>
		</main>
	</div>
</SecondaryLayout>
