---
// components import
import SecondaryLayout from '../../layouts/SecondaryLayout.astro';
import BreadcrumbNavigation from '../../components/BreadcrumbNavigation.astro';
import { BreadcrumbsItem } from 'accessible-astro-components';
import { Image } from 'astro:assets';

// utility import
import { getCollection } from 'astro:content';
import slugify from '@sindresorhus/slugify';

// assets import
import pageMotif from '../../../public/logos/motif-dark.svg';

const blogPosts = await getCollection('blog');
const headline = 'Mi Blog';
---

<SecondaryLayout headline={headline} title="Alire">
	<div class="secondary-page-content">
		<h1>{headline}</h1>

		<BreadcrumbNavigation>
			<BreadcrumbsItem href="/" label="Inicio" />
			<BreadcrumbsItem href="/blog" label="Blog" currentPage={true} />
		</BreadcrumbNavigation>

		<main>
			<ul>
				{
					blogPosts.map((post) => (
						<li class="container">
							<h2 class="blog-title">
								<a href={`/blog/${post.slug}`}>
									{post.data.title} - {post.data.subtitle}
								</a>
							</h2>

							<small>
								<p>
									<a
										href={`/blog/autor/${slugify(post.data.author)}`}
										class="author">
										{post.data.author}
									</a>
									&nbsp;&middot;
									{new Date(post.data.publishedDate).toLocaleDateString(
										'es-ES',
										{
											year: 'numeric',
											month: 'long',
											day: 'numeric',
										}
									)}
								</p>
								<ul class="categories">
									{post.data.categories.map((category) => (
										<li>
											<a
												href={`/blog/categoria/${slugify(category)}`}
												class="category">
												{category}
											</a>
										</li>
									))}
								</ul>
							</small>

							<Image
								src={post.data.image.src}
								alt={post.data.image.alt}
								aria-hidden="true"
								width="500"
								height="300"
								decoding="async"
								loading="eager"
								class="blog-image"
							/>

							<p class="blog-excerpt">{post.body.split('##')[0]}</p>
							<a class="btn btn-secondary" href={`/blog/${post.slug}`}>
								Saber más
							</a>
							<Image src={pageMotif} alt="" width="24" height="24" />
						</li>
					))
				}
			</ul>
		</main>
	</div>
</SecondaryLayout>
