---
import * as Aviso from '../../src/content/legal/aviso-legal.md';
import Layout from '../layouts/Layout.astro';
---

<Layout
	title={Aviso.frontmatter.title}
	headline={Aviso.frontmatter.title}
	showHero={false}
	heroShrunk={true}
	isSecondaryPage={true}>
	<main class="secondary-page-content">
		<Aviso.Content />
	</main>
</Layout>
