---
// components import
import SecondaryLayout from '../../../layouts/SecondaryLayout.astro';
import BreadcrumbNavigation from '../../../components/BreadcrumbNavigation.astro';
import { BreadcrumbsItem } from 'accessible-astro-components';
import { Image } from 'astro:assets';

// utility import
import { getCollection } from 'astro:content';
import slugify from '@sindresorhus/slugify';

// assets import
import pageMotif from '../../../../public/logos/motif-dark.svg';

export async function getStaticPaths() {
	const blogEntries = await getCollection('blog');

	return blogEntries.flatMap((entry) =>
		entry.data.categories.map((category) => ({
			params: { category: slugify(category) },
			props: { category, blogEntries },
		}))
	);
}

const { category, blogEntries } = Astro.props;

const filteredPosts = blogEntries.filter((entry) =>
	entry.data.categories.includes(category)
);
---

<SecondaryLayout headline=`Entradas en ${category}` title="Blog | Alire">
	<div class="secondary-page-content">
		<BreadcrumbNavigation>
			<BreadcrumbsItem href="/" label="Inicio" />
			<BreadcrumbsItem href="/blog" label="Blog" />
			<BreadcrumbsItem
				href="/blog"
				label={category.charAt(0).toUpperCase() + category.slice(1)}
				currentPage={true}
			/>
		</BreadcrumbNavigation>

		<main>
			<h1>Entradas en {category}</h1>

			<ul>
				{
					filteredPosts.map((post) => (
						<li class="container">
							<h2 class="blog-title">
								<a href={`/blog/${post.slug}`}>
									{post.data.title} - {post.data.subtitle}
								</a>
								<br />
							</h2>

							<small>
								<p>
									de
									<a
										class="author"
										href={`/blog/autor/${slugify(post.data.author)}`}>
										{post.data.author}
									</a>
									&middot;
									<span>
										{new Date(post.data.publishedDate).toLocaleDateString(
											'es-ES',
											{
												year: 'numeric',
												month: 'long',
												day: 'numeric',
											}
										)}
									</span>
								</p>

								<ul class="categories ">
									{post.data.categories.map((category) => (
										<li>
											<a
												href={`/blog/categoria/${slugify(category)}`}
												class="category">
												{category}
											</a>
										</li>
									))}
								</ul>
							</small>

							<p class="blog-excerpt">{post.body.split('##')[0]}</p>

							<a class="btn btn-secondary" href={`/blog/${post.slug}`}>
								Saber más
							</a>

							<Image
								src={pageMotif}
								alt=""
								width="24"
								height="24"
								class="page-motif"
							/>
						</li>
					))
				}
			</ul>
		</main>
	</div>
</SecondaryLayout>
